@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --clr-blue-100: hsl(209, 23%, 22%);
  --clr-blue-200: hsl(207, 26%, 17%);
  --clr-blue-300: hsl(200, 15%, 8%);
  --clr-gray-100: hsl(0, 0%, 98%);
  --clr-gray-200: hsl(0, 0%, 52%);
  --clr-white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, svg {
  display: block;
  max-width: 100%;
}

input, button, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--clr-gray-100);
}